@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
:root {
    --darkgray: #1f1f21;
    --brightred: #953df9;
    --white: #fff;
    --lightred: #7012a7cc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Lucida Sans Regular";
}
body {
    overflow-x: hidden;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    background: #1d2026;
}
.menu-img {
    width: 54px;
}
.hero {
    background: #1d2026;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}
section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 5rem;
}
.title {
    font-size: 35px;
    margin: 2rem 0rem;
}
.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3 {
    font-size: 20px;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 15px;
}
.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.faq.active svg {
    transform: rotate(180deg);
}
svg {
    transition: transform 0.5s ease-in;
}
.introvideo {
    position: absolute;
    left: -45%;
    top: 17%;
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
nav {
    /* position: fixed; */
    display: flex;
    align-items: center;
    /* justify-content: start; */
    padding-left: 80px;
    /* top: 0; */
    /* left: 0; */
    /* width: 100vw; */
    height: 65px;
    /* padding: 30px 80px; */
    z-index: 5;
    background: linear-gradient(to left, #81c2e0, #151516);
}
nav ul {
    /* flex: 1; */
    text-align: right;
    margin-bottom: 0;
    /* padding-right: 40px; */
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}
nav ul li a:hover {
    color: var(--navy blue);
}
.hvr-underline-from-left.active:before {
    right: 0;
}
.group-member {
    opacity: 0;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col {
    flex-basis: 50%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}